@import "mixins/border-radius.less";

// mixin for creating different build boxes with different base color sheme
.buildBox(@textColor: #fff, @backgroundColor) {
    background-color: @backgroundColor;
    .commit {
        color: mix(@textColor, @backgroundColor, 80);
        > figure.avatar > img {
            border-color: darken(@backgroundColor, 10);
        }
    }
    time {
        color: darken(@backgroundColor, 20);
    }
}

.builds {
    max-width: 100%;
    display: table;
    float: left;
}
.build {
    @textColor: @buildTextColor;
    color: @textColor;
    
    // add media-query to clear after some elements if screen gets to small
    width: 33.33333%;
    height: 330px;

    display: block;
    float: left;

    h1, h2 {
        display: block;
        text-align: center;
    }

    .commit {
        margin-top: 0.5em;
        > figure.avatar {
            margin-left: 3%;
            width: 20%;
            float: left;
            > img {
                border: 5px solid @buildTextColor;
                width: 90%;
            }
        }
        > blockquote {
            width: 72%;
            margin-right: 3%;
            float: right;
            > author {
                text-align: right;
                clear: left;
                display: block;
                font-weight: bold;
            }
        }
    }

    position: relative;

    time {
        text-align: center;
        width: 100%;
        position: absolute;
        bottom: 0.3em;
        font-size: @font-size-base * 0.60;
    }

    // different styles for different build status
    &-success {
        .buildBox(@textColor, @buildBackgroundColorSuccess);
    }
    &-canceled {
        .buildBox(@textColor, @buildBackgroundColorCanceled);
    }
    &-not_running {
        .buildBox(@textColor, @buildBackgroundColorCanceled);
    }
    &-failed {
        .buildBox(@textColor, @buildBackgroundColorFailed);
    }
    &-running {
        .buildBox(@textColor, @buildBackgroundColorRunning);
    }
    &-scheduled {
        .buildBox(@textColor, @buildBackgroundColorScheduled);
    }
}