// styles for the header

@headerBackground: contrast(@bodyBackground, lighten(@bodyBackground, 10%), darken(@bodyBackground, 10%));
@headerTextColor: contrast(@headerBackground, darken(@headerBackground, 70%), lighten(@headerBackground, 70%));

.navbar {
	line-height: 3em;
	height: 3em;
	h1.brand {
		font-weight: 100;
	}
	padding-left: @padding-base-horizontal;
	padding-right: @padding-base-horizontal;
	color: @headerTextColor;
	background: @headerBackground;

	.navbar-left {
		float: left;
	}
	.navbar-right {
		float: right;
	}
}